<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>love.html</title>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>
  <body>
  <script language="javascript">
function check()
{
var form = document.sendmail
  if (form.friend_name.value == "")
  {
  alert("Nhập họ tên của bạn!")
  form.friend_name.style.background = "#FFFFCA";
  return false;
  }
  else if (form.friend_name2.value == "")
  {
  alert("Nhập tên những người mà bạn quan tâm (muốn thử) nhất!")
  form.friend_name2.style.background = "#FFFFCA";
  return false;
  }
  
}
</script>

<div class="depot-form">
  <%= error_messages_for 'page' %>
  <% form_for :page, :url => { :action => :love } do |form| %>
    <fieldset>
      <legend>Ai là người yêu bạn nhất</legend>
      <div">
        <%= form.label :name, "Họ và tên của bạn:" %>
        <%= form.text_field :name, :size => 60 %>
      </div>
      <legend>Họ & Tên 3 người bạn cảm thấy <strong>quan trọng nhất</strong> đối với bạn:</legend>
      <div>
        <%= form.label :name1, "1." %>
        <%= form.text_field :name1, :size => 60 %>
      </div>
      <div>
        <%= form.label :name2, "2." %>
        <%= form.text_field :name2, :size => 60 %>
      </div>
      <div>
        <%= form.label :name3, "3." %>
        <%= form.text_field :name3, :size => 60 %>
      </div>
      
    </fieldset>
    <!-- submit button -->
      <%= submit_tag "Let's check" , :class => "submit" %>
  <% end %>
</div>
