<!--
######################################################
# LongPH - Oct 20th, 2011
#    create file
######################################################
-->
<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 40, :rows => 5 %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :price %> (VND)<br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :special_price %> (VND)<br />
    <%= f.text_field :special_price %>
  </p>
  <p>
    <%= f.label :member_price %> (VND)<br />
    <%= f.text_field :member_price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>